
.calendar-gsitae-container
  display: flex
  justify-content: space-between
  .user-dates-container
    width: 45%
  .user-dates-item
    display: flex !important
    padding: .61428571em 0 !important
    justify-content: space-between
    align-items: center
  .calendar-gsitae-datepicker
    padding: 10px 5px;
    border: 1px solid rgba(193, 193, 193, 0.74);
    border-radius: 5px;