
.home-container
  height: 100vh
  border-radius: 0
  .logout-button
    position: absolute
    bottom: 10px
    left: 10px
    transform: rotate(180deg)
    a
      color: #FFF
  .sidebar-container
    h2
      color: #FFF
    .sidebar-item
      cursor: pointer
      &:hover
        background-color: #4c4c4c
  .toggle-button
    position: absolute
    top: 0
    left: 0
    background: #1b1c1d
    color: #FFF
    border-bottom-left-radius: 0
    border-top-left-radius: 0
