  
#root
  .home-container
    background-color: #ececec

.home-container
  height: 100vh
  border-radius: 0
  .user-profile-container
    width: 100%
    .ui.form
      .ui.disabled.dropdown, .ui.dropdown .menu>.disabled.item
        opacity: 1
      .disabled.field, .disabled.fields .field, .field :disabled
        opacity: 0.75
      .ui.disabled.input, .ui.input:not(.disabled) input[disabled]
        opacity: 1
      .field.disabled>label, .fields.disabled>label
        opacity: 1
        color: #000
        .input
          opacity: 1
  .logout-button
    position: absolute
    bottom: 10px
    left: 10px
    transform: rotate(180deg)
    .user-data
      color: #FFF
      transform: rotate(180deg)
      position: absolute
      top: 40px
      right: 5px
    a
      color: #FFF
  .sidebar-container
    .menu-list-container
      max-height: 90vh
      height: 100%
      overflow: auto
    .languague-dropdown
      position: absolute
      left: 15px
      margin-top: 20px
    h2
      color: #FFF
    .sidebar-item
      cursor: pointer
      &:hover
        background-color: #4c4c4c
  .toggle-button
    position: absolute
    top: 0
    left: 0
    background: #1b1c1d
    color: #FFF
    border-bottom-left-radius: 0
    border-top-left-radius: 0
