
.video-container
  .login-container
    width: 25%
    top: 25vh
    margin: 0 auto
    h1
      text-align: center
  
  .form-container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    .form-item
      margin: 10px 0
      & > .ui.input, & > .button
        width: 100%