@import './video'
@import './loginForm'
@import './home'
@import './labs'
@import './calendar'

body
  background-color: #000000e0;

.inside-container
  padding: 45px 10px

.error404-container
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .error-text-container
    color: #FFF
    text-align: center
    h2
      font-size: 4.5rem
    p
      font-size: 1.5rem